[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiohttp = "*"
environs = "*"
pytest-aiohttp = "*"
python-box = "*"

[dev-packages]
pytest = "*"
pytest-aiohttp = "*"
pytest-timeout = "*"

[requires]
python_version = "3.8"
